body {
    font-family: Arial, sans-serif;
    background-image: url("myrg.jpg");
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10;
    text-decoration: double;
    background-size: cover;
}

.container{
        background-color: rgba(246, 246, 246, 0.247);
        padding: 0px;
        background-origin: padding-box;
        
}
div{
    background-position: 0cqmax;
}